<p>
  <mat-toolbar color="primary" 
  >
    <mat-toolbar-row class="mat-elevation-z6 tbar">
      <button mat-button>
        <mat-icon>star</mat-icon>
        {{title}}
    </button> 
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>link</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <div class="example-button-row">
        <button routerLink="/dashboard" mat-button>Dashboard </button>
        <button routerLink="/heroes" mat-button>Heroes</button>
      </div>
      <span class="example-spacer"></span>

      <app-hero-search></app-hero-search>

    </mat-toolbar-row>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
<app-messages></app-messages>
