<h3>Top Heroes</h3>
<div class="grid grid-pad">
  <a *ngFor="let hero of heroes" class="col-1-4"
      routerLink="/detail/{{hero.id}}">
      <mat-card
      class="example-card"
      >
      <mat-card-header>
        <div mat-card-avatar>

          <img  class="example-header-image" src="{{hero.url}}"/>
        </div>
        <mat-card-title>{{hero.name}}</mat-card-title>
        <mat-card-subtitle>{{hero.nickName}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{hero.url}}" alt="Photo of a Shiba Inu">
      <mat-card-actions>
        <button mat-button><mat-icon>check</mat-icon>
          LIKE</button>
        <button mat-button>
          <mat-icon>share</mat-icon>
          SHARE</button>
      </mat-card-actions>
      </mat-card>
  </a>
</div>
